<template>
  <div class="card-wrapper">
    <div v-if="!loaded" class="loader"> Loading </div>
    <linkCard v-if="loaded" :cardDatas="results"></linkCard>
  </div>
</template>

<script>
// import { getCategory } from '@/models'
import { store } from '@/state'
import linkCard from '@/components/linkCard.vue'
export default {
  name: 'Main',
  components: {
    linkCard
  },
  data () {
    return {
      results: '',
      loaded: false
    }
  },
  methods: {
    async getResults (link) {
      const results = await store.mutations.pushRecords(link)
      this.results = results
      this.loaded = true
    },
    // async getResults (link) {
    //   const result = await getCategory(link)
    //   this.results = result
    //   this.loaded = true
    // },
    buildName () {
      return this.$route.meta.type + 'Item'
    }
  },
  props: {
    resData: Array
  },
  async mounted () {
    const routePath = this.$route.path.replace('/', '')

    this.getResults(routePath)
  }
}
</script>

<style lang="scss">

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}

.loader {
  background: #2c2c2c;
  border-radius: 5px;
  font-weight: bold;
  margin: 40px auto 0;
  padding: 20px;
}

.loader::after {
  color: #FFF;
  display: inline-block;
  content: '.';
  width: 20px;
  text-align: left;
  margin-left: -5px;
  -webkit-animation-name: dots;
          animation-name: dots;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes dots {
  25% {
    content: '..';
  }
  50% {
    content: '...';
  }
  75% {
    content: '....';
  }
}

@keyframes dots {
  25% {
    content: '..';
  }
  50% {
    content: '...';
  }
  75% {
    content: '....';
  }
}

</style>
