<template>
  <singleRecord :record="record"/>
</template>

<script>
import { store } from '@/state'
import singleRecord from '@/components/singleRecord.vue'
export default {
  name: 'Record',
  data () {
    return {
      record: this.getRecord()
    }
  },
  components: {
    singleRecord
  },
  methods: {
    getRecord () {
      const cat = this.$route.params.category
      const id = this.$route.params.id
      return store.getters.getSingleRecord(cat, id)
    }
  }
}
</script>

<style lang="scss">

</style>
