<template>
  <router-link class="card" v-for="card in cardDatas" :key="card" :to="{name: 'Item', params: { id: this.prepNameTitleLink(card, this.$route.path) }}">
    {{ card.name || card.title }}
  </router-link>
</template>

<script>
import { prepNameTitleLink } from '@/models/'
export default {
  name: 'linkCard',
  props: {
    cardDatas: Array
  },
  methods: {
    prepNameTitleLink
  }
}
</script>

<style lang="scss">
.card {
  background: #eee;
  border: .25rem solid #eee;
  border-radius: 10px;
  color: #1c1c1c;
  font-weight: 600;
  flex-grow: 1;
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  // min-width: 10%;
  max-width: 50%;
  text-decoration: none;
  transition: .25s ease-in-out;

  &:hover {
    background: #FFE81F;
    border: .25rem solid #9f0613;
    color: #000;
  }
}
</style>
