<template>
  <div class="wrapper">
    <a @click="$router.go(-1)" class="back">Back</a>
  </div>
  <template v-if="record">
    <div v-for="item in prepareData(record)" :key="item" class="item-wrapper wrapper">
      <div class="title">
        {{ item.key }}:
      </div>
      <div class="data">
        {{ item.data }}
      </div>
    </div>
  </template>
</template>

<script>
export default {
  name: 'SingleRecord',
  props: {
    record: Object
  },
  methods: {
    prepareData (data) {
      const keyArray = Object.keys(data)
      const outputArray = []
      keyArray.forEach((key) => {
        outputArray.push({ key: key.replace(/_/g, ' '), data: data[key] })
      })

      return outputArray
    }
  }
}
</script>

<style lang="scss">
.back {
  background: #eee;
  padding: 1rem;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.item-wrapper {
  background: #3c3c3c;
  display: flex;
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.title,
.data {
  background: #1c1c1c;
  padding: 1rem;
}
.title {
  color: #FFE81F;
  flex-grow: 1;
  flex-shrink: 0;
  margin-right: 1rem;
  //min-width: 5rem;
  max-width: 7rem;
}

.data {
  flex-grow: 1;
  max-width: 48rem;
}
</style>
