<template>
  <h1 class="headerMain"> Swapi API Front-End </h1>
  <div class="nav">
    <router-link to="/" class="nav-item">Home</router-link>
    <router-link v-for="route in categories" :key="route" :to="{ name: 'Category', params: { category: route.toLowerCase() }}" class="nav-item">{{route}}</router-link>
  </div>
  <router-view :key="this.$route.path" />
  <router-view name="sub"/>
</template>

<script>
export default {
  data () {
    return {
      categories: ['People', 'Planets', 'Films', 'Species', 'Starships', 'Vehicles']
    }
  }
}
</script>
<style lang="scss">
html {
   box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #FFF;
}

.headerMain {
  color: #FFE81F;
  margin: 0;
  padding: 40px 0 0;
}

.nav {
  padding: 20px 20px 40px;

  a {
    font-weight: bold;
    color: #FFF;

    &.router-link-exact-active {
      color: #FFE81F;
    }

    &:hover {
      color: #9f0613
    }
  }
}

.nav-item {
    padding: 0 .5rem;
}

.wrapper {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: left;
}

</style>
